# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore OS X Desktop Services Store files
.DS_Store

# Cscope
cscope.*

# Ctags
tags

# vim swap files
*.swp
*~

# Visual Studio Code
.vscode/

